.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.NotLoaded {
  margin: 0 auto;
  padding: 50px 120px;
  border: 1px solid #4481c3;
  transform: skew(-15deg);
  border-radius: 3px;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.img {
  transform: skew(15deg);
  max-width: 40%;
}

